/*<------------------sección skills & hobbies------------------->*/
.skills {
    padding-top: 2vw;
}

.hobbies {
    padding-top: 2vw;
    padding-bottom: 2vw;
}

.skills h2 {
    color: #464646;
    font-weight: 700;
    font-size: 32px;
    line-height: 38px;
    text-align: center;
    margin: 1rem 0 2rem;
}

.hobbies h2 {
    color: #464646;
    font-weight: 700;
    font-size: 32px;
    line-height: 38px;
    text-align: center;
    margin: 1rem 0 2rem;
}

.skills-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    row-gap: 16px;
    column-gap: 16px;
}

.box {
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    padding: 0 0 10px 16px;
    position: static;
    width: 176px;
    height: 174px;
    min-width: 176px;
    border-radius: 10px;
}

.box-img {
    height: 37px;
    margin: 8px 0px;   
}

.box p {
    color: #464646;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
}

.box p:hover {
    color: #348CEC;
}

.hobbies-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    padding: 16px;
    row-gap: 16px;
    column-gap: 16px;
}

.emoji-img {
    margin: 12px 0px;
}