/*<--header-->*/
body {
    font-family: 'Raleway', sans-serif;
    background-color: #F5F5F5;
}

.caja {
    width: 1200px;
    position: relative;
    margin: 15px auto;
}

.logo{
    height: 70px;
}

nav{
    position: absolute;
    top: 25px;
    right: 0;
}

nav li{
    display: inline;
    margin: 0 0 0 30px;
}

nav a{
    color: #464646;
    font-weight: 500;
    font-size: 18px;
    text-decoration: none;
}

nav a:hover {
    color: #348CEC;
}

/*<--encabezado-->*/
.encabezado-principal{
    padding: 32px 152px;
    display: flex;
}

.encabezado-introduccion {
    color: #464646;
    margin: auto;
    margin-right: 17px;
}

.encabezado-introduccion h1 {
    font-weight: 700;
    font-size: 52px;
    line-height: 61px;
}

.encabezado-introduccion h4 {
    margin-top: 24px;
    font-weight: 400;
    font-size: 22px;
    line-height: 26px;
    margin-top: 24px;  
}

.encabezado-lista {
    margin-top: 26.5px;
}

.encabezado-lista li{
    display: inline;
    margin: 0 30px 0 0;
}

.encabezado-lista a {
    text-decoration: none;
    color: #464646;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
}

.encabezado-lista a:hover {
    color: #348CEC;
}

.foto-encabezado{
    height: 368px;
    border-radius: 190px;
}

/*<--about me-->*/
.about-me {
    background-color: #1c2c3c;
    padding: 64px 152px;
}

.about-me h2 {
    color: #f5f5f5;
    font-weight: 700;
    font-size: 32px;
    line-height: 38px;
}

.about-me-texto {
    color: #f5f5f5;
    width: 751px;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;  
}

/*<--skills and hobies-->*/

.skills {
    padding: 32px 152px 0 152px;
}

.skills-hobbies h2 {
    color: #464646;
    font-weight: 700;
    font-size: 32px;
    line-height: 38px;
    text-align: center;
    margin-bottom: 32px;
}

.skills-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    padding: 16px;
    row-gap: 16px;
    column-gap: 16px;
}

.box {
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    padding: 0 0 10px 16px;
    position: static;
    width: 176px;
    height: 174px;
    border-radius: 10px;
}

.box-img {
    height: 37px;
    margin: 8px 0px;   
}

.box p {
    color: #464646;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
}

.box p:hover {
    color: #348CEC;
}

.hobbies {
    padding: 88px 152px;
}

.hobbies-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    padding: 16px;
    row-gap: 16px;
    column-gap: 16px;
}

.emoji-img {
    margin: 12px 0px;
}

/*<--formación-->*/

.formacion {
    background-color: #1c2c3c;
    padding: 82px 152px;
}

.formacion h2 {
    color: #f5f5f5;
    font-weight: 700;
    font-size: 32px;
    line-height: 38px;
    text-align: center;
    margin-bottom: 32px;
}

.formacion-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    row-gap: 16px;
    column-gap: 16px;
}

.formacion-container-box h3 {
    color: #f5f5f5;
    font-weight: 700;
    font-size: 22px;
    line-height: 26px;
    margin: 8px 0px;
}

.formacion-container-box p {
    color: #f5f5f5;
    font-size: 16px;
    line-height: 19px;
    margin-top: 8px;
}

.box-formacion {
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: static;
    width: 368px;
    height: 286px;
}

.box-formacion-img {
    width: 192px;
    height: 130px;
}

/*<--experiencia profesional-->*/

.experiencia {
    background-color: #f5f5f5;
    color: #464646;
}

.container-proyectos {
    padding: 32px 152px;
}

.proyecto-primario {
    display: flex;
    margin: 32px 0 0 0;
}

.experiencia h2 {
    font-weight: 700;
    font-size: 32px;
    line-height: 38px;
    text-align: center;
}

.proyecto-imagen img{
    height: 406px;
    border-radius: 12px;
    width: 752px;
}

.textos-botones-right {
    margin: auto;
    margin-left: 17px;
}

.proyecto-container-textos h3 {
    font-weight: 700;
    font-size: 22px;
    line-height: 26px;
    margin: 0 0 6px 0;
}

.proyecto-container-textos p {
    font-weight: 500;
    font-size: 18px;
    line-height: 19px;
    margin: 0 0 24px 0;
}

.proyecto-container-botones {
    display: inline-block;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    margin: 8px 0;
}

.btn1 {
    border: 1px solid #348CEC;
    color: #348CEC;
    border-radius: 8px;
    padding: 15px;
    margin: 0 17px 0 0;
    text-decoration: none;
}

.btn2 {
    color: #f5f5f5;
    border-radius: 8px;
    padding: 16px;
    margin: 0 32px 0 0;
    background-color: #348CEC;
    text-decoration: none;
}

.btn1:hover {
    background-color: #348CEC;
    color: #f5f5f5;
}

.btn2:hover {
    background-color: #f5f5f5;
    border: 1px solid #348CEC;
    color: #348CEC;
    border-radius: 8px;
    padding: 15px;
}

.proyecto-secundario {
    display: flex;
    margin: 64px 0 0 0;
}

.textos-botones-left {
    margin: auto;
    margin-left: 0;
}

/*<--sección contacto-->*/
.contacto {
    background-color: #1c2c3c;
    color: #f5f5f5;
}

.container-contacto {
    padding: 129.5px 152px;
    display: flex;
}

.contacto-imagen img {
    height: 593px;
    width: 464px;
}

.contacto h2 {
    font-weight: 700;
    font-size: 32px;
    line-height: 38px;
}

.contacto p{
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
}

.formulario-contacto {
    margin-left: 16px;
}

form {
    display: grid
}

form label {
    font-weight: 700;
}

.input-padron {
    display: block;
    margin: 32px 0 0 0;
    padding: 10px 25px;
    border-radius: 2px;
    width: 656px;
    height: 32px;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    border: none;
    border-bottom: 2px solid lightgray;
    color: #464646;
}

.input-padron:focus {
    border-bottom: 4px solid #348CEC;
    outline: none;
}

.enviar{
    width: 144px;
    padding: 15px 0;
    font-size: 16px;
    font-weight: 400;
    color: #FFFFFF;
    background: #348CEC;
    border: none;
    border-radius: 2px;
    cursor: pointer;
    margin-top: 32px;
}

footer{
    background-color: #f5f5f5;
    padding: 32px;
}

footer div {
    text-align: center;
    display: inline;
}
