/* header {
    padding: 20px 0;
} */
body {
    font-family: 'PT Sans', sans-serif;
}

header {
    background-color: #ffffff;
}

.caja {
    width: 1200px;
    position: relative;
    margin: 0 auto;
}

.logo{
    height: 70px;
}

nav{
    position: absolute;
    top: 25px;
    right: 0;
}

nav li{
    display: inline;
    margin: 0 0 0 30px;
}

nav a{
    color: #141C24;
    font-weight: 900;
    font-size: 18px;
    text-decoration: none;
}

nav a:hover {
    color: #348CEC;
}