/*<--header-->*/
body {
    font-family: 'Raleway', sans-serif;
    background-color: #F5F5F5;
}

.caja {
    width: 1200px;
    position: relative;
    margin: 15px auto;
}

.logo{
    height: 70px;
}

nav{
    position: absolute;
    top: 25px;
    right: 0;
}

nav li{
    display: inline;
    margin: 0 0 0 30px;
}

nav a{
    color: #464646;
    font-weight: 700;
    font-size: 18px;
    text-decoration: none;
}

nav a:hover {
    color: #348CEC;
}
/*<--header-->*/

/*<--bienvenida-->*/
.encabezado-introduccion {
    color: #464646;
    margin: auto;
    margin-right: 17px;
}

.encabezado-introduccion h1 {
    font-weight: 700;
    font-size: 52px;
    line-height: 61px;
}

.encabezado-introduccion h4 {
    margin-top: 24px;
    font-weight: 400;
    font-size: 22px;
    line-height: 26px;  
}

.encabezado-principal{
    padding: 30px 120px;
    display: flex;
}

.encabezado-lista {
    margin-top: 24px;

}

.encabezado-lista li{
    display: inline;
    margin: 0 30px 0 0;
}

.encabezado-lista a {
    text-decoration: none;
    color: #464646;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
}

.foto-encabezado{
    height: 368px;
    border-radius: 190px;
}
/*<--bienvenida-->*/

/*<--about me-->*/
.about-me {
    background-color: #1c2c3c;
    padding: 30px 120px;
}

.about-me h2 {
    color: #f5f5f5;
    font-weight: 700;
    font-size: 32px;
    line-height: 38px;
    margin: 16px 0 0 0;
}

.about-me-texto {
    color: #f5f5f5;
    width: 751px;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;  
}

.about-me-texto img {
    margin: 0 0 16px 0;
}
/*<--about me-->*/

/*<--skills and hobies-->*/

.skills-hobbies {
    background-color: #f5f5f5;
    padding: 30px 120px;
}

.skills h2 {
    font-weight: 700;
    font-size: 32px;
    line-height: 38px;
    text-align: center;
}

/*<--skills and hobies-->*/
.skills-hobbies {
    background-color: #f5f5f5;
    padding: 30px 120px;
}

.skills-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    padding: 16px;
    row-gap: 16px;
    column-gap: 16px;
}

.box {
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    padding: 0 0 10px 16px;
    position: static;
    width: 176px;
    height: 174px;
}

.box p {
    font-weight: 900;
    font-size: 16px;
    line-height: 19px;
}

.box-img {
    height: 37px;
    margin: 8px 0px;   
}

.hobbies-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    padding: 16px;
    row-gap: 16px;
    column-gap: 16px;
}

.emoji-img {
    margin: 12px 0px;
}