/*<--header-->*/
body {
    font-family: 'Raleway', sans-serif;;
}

header {
    background-color: #ffffff;
}

.caja {
    width: 1200px;
    position: relative;
    margin: 15px auto;
}

.logo{
    height: 70px;
}

nav{
    position: absolute;
    top: 25px;
    right: 0;
}

nav li{
    display: inline;
    margin: 0 0 0 30px;
}

nav a{
    color: #141C24;
    font-weight: 700;
    font-size: 18px;
    text-decoration: none;
}

nav a:hover {
    color: #348CEC;
}
/*<--header-->*/

/*<--bienvenida-->*/
section {
    
}

